
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

body
{
    background-image: url("back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

header
{
    background-color: rgba(51, 69, 80, 1);
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    box-shadow: 0 0 25px 2px black;
    z-index: 2;

}

header img
{
    width: 18vw;
    height: 16vh;
    float: left;
    
}

header ul
{
    display: inline-flex;
    list-style: none;
    position: absolute;
    right: 4%;
    margin-top: 5vh;
}

header ul li a
{
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    color: rgba(114, 159, 191, 1);
    outline: white;
}


.nav_section
{
    width: 25vw;
    height: 100vh;
    background-color: rgba(51, 69, 80, 1);
    border-right: 4px solid rgb(100, 152, 188);
    transition: all .7s ease-in;
    margin-left: -25vw;
}


.nav_section ul
{
    list-style: none;
    margin-top: 12vh;
    padding-top: 20px;
    margin-left: 30px;
    line-height: 50px;
    
}

.nav_section ul li a
{
    text-decoration: none;
    text-align: left;
    color: rgb(234, 254, 250);
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 5px;
    background-color: rgba(51, 69, 80, 1);
    box-shadow: 0 0 5px 0.5px black;
}

#nav_header
{
    text-align: center;
    font-size: 30px;
}

.nav_section img
{
    width: 26vw;
    height: 19vh;
    position: absolute;
    bottom: 0;

}

